---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const metadata = {
  title: "Revox - We build software and games",
  description:
    "We are a Digital Product Game Development agency based in Colombo, Sri Lanka. We create disruptive change by crafting best-in-class digital products ventures.",
};
---

<!doctype html>
<html
  data-wf-page="663cf6ebfced7df71872b614"
  data-wf-site="65afaef75b2da61f9662587d"
  lang="en"
>
  <head>
    <BaseHead title={metadata.title} description={metadata.description} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <section class="section-first bg-l-career career-inner">
          <div class="w-layout-blockcontainer container-w p-t-40 w-container">
            <div class="flex verticle x-center">
              <div class="overline">COLOMBO / FULL TIME</div>
              <h1 class="heading-2 center m-t-0">Senior Front-end Developer</h1>
              <div>
                <div class="p x-large">
                  We are seeking a talented Senior Frontend Developer proficient
                  in AngularJS and ReactJS to join our dynamic team. As a Senior
                  Frontend Developer, you will be responsible for leading the
                  development of innovative web applications, collaborating with
                  cross-functional teams, and ensuring the delivery of
                  high-quality, scalable, and maintainable code.
                </div>
                <div class="flex verticle p-t-20">
                  <div class="overline m-b-10">WHO WE ARE</div>
                  <div class="p large">
                    We are a global digital product &amp; UX agency focusing on
                    new cutting edge technologies of web and mobile. We create
                    disruptive change by crafting best-in-class design,
                    software, and ventures.
                  </div>
                </div>
                <div class="flex verticle p-t-20">
                  <div class="overline m-b-10">WHAT WE BELIEVE</div>
                  <div class="p large">
                    We believe technology &amp; design together has the power to
                    create transformation change. From the word go, we did
                    things differently. Instead of a gruelling, up-or-out
                    career, we offered balance and sanity (much needed in this
                    day and age). We value work-life balance and believe that
                    balance brings out the best in you both professionally and
                    personally. We embrace a diversity of people and views. This
                    makes us better and means better outcomes for our
                    clients.Requirment
                  </div>
                </div>
                <div class="m-t-30 w-row">
                  <div class="p-0 w-col w-col-6">
                    <div class="overline">What you&#x27;ll Bring</div>
                    <div class="w-layout-vflex flex verticle gap-20 career-box">
                      <div class="p large">
                        Bachelor’s degree in Computer Science, Engineering, or a
                        related field (or equivalent work experience).
                      </div>
                      <div class="p large">
                        3+ years of experience in frontend development with a
                        focus on modern framework (such as: AngularJS, ReactJS
                        or React Native)
                      </div>
                      <div class="p large">
                        Proficiency in foundational web technologies such as
                        HTML5, CSS3,SASS, and familiarity with different styling
                        systems such as: Bootstrap, Tailwind, Chakra, etc.
                      </div>
                      <div class="p large">
                        Strong understanding of web standards, responsive
                        design, and cross-browser compatibility.
                      </div>
                      <div class="p large">
                        Familiarity with version control systems such as Git.
                      </div>
                      <div class="p large">
                        Strong understanding of UI elements for web and their
                        behaviours.
                      </div>
                      <div class="p large">
                        Good communication and collaboration skills.
                      </div>
                      <div class="p large">
                        Ability to work effectively in a fast-paced environment
                        and meet tight deadlines.
                      </div>
                      <div class="p large">
                        Strong problem-solving and analytical skills.
                      </div>
                      <div class="p large">
                        Passion for leading-edge technology and proven track
                        record researching and implementing new tech
                        effectively.
                      </div>
                    </div>
                  </div>
                  <div class="p-0 p-t-20 w-col w-col-6">
                    <div class="overline">What you’ll do</div>
                    <div class="w-layout-vflex flex verticle gap-20 career-box">
                      <div class="p large">
                        Develop industry leading web based front end platforms
                        in modern frameworks including: React, Angular, Solidjs,
                        Svelte, React Native
                      </div>
                      <div class="p large">
                        Lead frontend development efforts, providing technical
                        guidance and mentorship to junior developers.
                      </div>
                      <div class="p large">
                        Collaborate with designers, product managers, and
                        backend developers to implement user-friendly interfaces
                        and features.
                      </div>
                      <div class="p large">
                        Maintain our front-end Products such as Pages UI
                        Framework.
                      </div>
                      <div class="p large">
                        Translate Figma designs and wireframes into high-quality
                        code.
                      </div>
                      <div class="p large">
                        Ensure the technical feasibility of UI/UX designs.
                      </div>
                      <div class="p large">
                        Participate in code reviews and provide constructive
                        feedback to team members.
                      </div>
                      <div class="p large">
                        Troubleshoot and debug complex technical issues.
                      </div>
                      <div class="p large">
                        Contribute to the continuous improvement of development
                        processes and methodologies.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex verticle m-t-20">
                  <div class="overline">Nice to Have</div>
                  <div class="w-layout-vflex flex verticle gap-20">
                    <div class="p large">
                      Experience with cloud technologies, such as AWS, GCP, or
                      Azure
                    </div>
                    <div class="p large">
                      Familiarity with DevOps practices, such as continuous
                      integration and deployment
                    </div>
                    <div class="p large">
                      Experience working in a software services company or
                      consulting firm
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-l-blue p-60">
          <div class="w-layout-blockcontainer container-w p-t-40 w-container">
            <div class="flex verticle x-center">
              <h1 class="heading-4 text-center">Rolling Application</h1>
              <div class="p text-center">
                Job will be taken down when vacancy is filled
              </div>
              <div>
                <div class="flex verticle m-t-20">
                  <div class="overline text-center">Send your CV to</div>
                  <div class="p w-embed w-script">
                    <a
                      href="javascript:location='mailto:\u0063\u0061\u0072\u0065\u0065\u0072\u0073\u0040\u0072\u0065\u0076\u006f\u0078\u002e\u0069\u006f';void 0"
                    >
                      <script type="text/javascript">
                        document.write(
                          "\u0063\u0061\u0072\u0065\u0065\u0072\u0073\u0040\u0072\u0065\u0076\u006f\u0078\u002e\u0069\u006f"
                        );
                      </script>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script
          src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65afaef75b2da61f9662587d"
          type="text/javascript"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
      </main>
      <Footer />
    </div>
  </body>
</html>
