---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const metadata = {
  title: "Revox - We build software and games",
  description:
    "We are a Digital Product Game Development agency based in Colombo, Sri Lanka. We create disruptive change by crafting best-in-class digital products ventures.",
};
---

<!doctype html>
<html
  data-wf-page="65f2e3b9b266f5152f359545"
  data-wf-site="65afaef75b2da61f9662587d"
  lang="en"
>
  <head>
    <BaseHead title={metadata.title} description={metadata.description} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <section class="section-first">
          <div
            class="w-layout-blockcontainer container text-width p-60 w-container"
          >
            <h1 class="heading-4">Cookie Policy</h1>
            <div class="p m-b-40">
              At Revox, accessible from www.revox.io, one of our main priorities
              is the privacy of our visitors. This Cookie Policy document
              contains types of information that is collected and recorded by
              Revox and how we use it.<br />
            </div>
            <div class="f-w-wrapper">
              <h3 class="heading-6">Types of Data collected</h3>
              <div class="p">
                Among the types of Personal Data that this Application collects,
                by itself or through third parties, there are: first name, last
                name, email address, username, various types of Data, Cookies
                and Usage Data. Complete details on each type of Personal Data
                collected are provided in the dedicated sections of this privacy
                policy or by specific explanation texts displayed prior to the
                Data collection. <br /><br />Personal Data may be freely
                provided by the User, or, in the case of Usage Data, collected
                automatically when using this Application. <br /><br />Unless
                specified otherwise, all Data requested by this Application is
                mandatory and failure to provide this Data may make it
                impossible for this Application to provide its services. In
                cases where this Application specifically states that some Data
                is not mandatory, Users are free not to communicate this Data
                without consequences to the availability or the functioning of
                the Service. Users who are uncertain about which Personal Data
                is mandatory are welcome to contact the Owner. <br /><br />Any
                use of Cookies – or of other tracking tools – by this
                Application or by the owners of third-party services used by
                this Application serves the purpose of providing the Service
                required by the User, in addition to any other purposes
                described in the present document and in the Cookie Policy, if
                available. Users are responsible for any third-party Personal
                Data obtained, published or shared through this Application and
                confirm that they have the third party’s consent to provide the
                Data to the Owner.<br />
              </div>
            </div>
            <div class="f-w-wrapper">
              <h3 class="heading-6">Contacting the User</h3>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  MailChimp (The Rocket Science Group, LLC.)
                </h4>
                <div class="p">
                  MailChimp is an email address management and message sending
                  service provided by The Rocket Science Group, LLC. Personal
                  Data collected: email address. Place of processing: US – <a
                    href="https://www.intuit.com/privacy/statement/"
                    >Privacy Policy</a
                  >.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Traffic optimization and distribution</h4>
                <div class="p">
                  This type of service allows this Application to distribute
                  their content using servers located across different countries
                  and to optimize their performance. Which Personal Data are
                  processed depends on the characteristics and the way these
                  services are implemented. Their function is to filter
                  communications between this Application and the User’s
                  browser. Considering the widespread distribution of this
                  system, it is difficult to determine the locations to which
                  the contents that may contain Personal Information User are
                  transferred.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">CloudFlare (Cloudflare)</h4>
                <div class="p">
                  CloudFlare is a traffic optimization and distribution service
                  provided by CloudFlare Inc. The way CloudFlare is integrated
                  means that it filters all the traffic through this
                  Application, i.e., communication between this Application and
                  the User’s browser, while also allowing analytical data from
                  this Application to be collected. Personal Data collected:
                  Cookies and various types of Data as specified in the privacy
                  policy of the service. Place of processing: US – <a
                    href="https://web.archive.org/web/20230327130210/https://www.cloudflare.com/privacypolicy/"
                    >Privacy Policy</a
                  >.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-6">Owner and Data Controller</h4>
                <div class="p large">
                  Revox Private Limited <br />Sri Lanka<br />
                </div>
                <div class="p mx-w-50 m-t-20">
                  217B Stanley Thilakerathne Mawatha, Nugegoda, 10250, Colombo.
                  Sri Lanka.<br />
                </div>
                <a href="contact.html" class="btn-text m-20 w-button"
                  >Contact us</a
                >
                <div class="seperator"></div>
                <div class="p hint-text m-t-15">
                  If you have additional questions or require more information
                  about our Privacy Policy, do not hesitate to contact us
                  through email at legal@revox.io<br />
                </div>
              </div>
            </div>
          </div>
        </section>
        <script
          src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65afaef75b2da61f9662587d"
          type="text/javascript"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
      </main>
      <Footer />
    </div>
  </body>
</html>
