---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import config from "../content/config/config.json";
import client from "../../tina/__generated__/client";

const metadata = {
  title: "Revox - We build software and games",
  description:
    "We are a Digital Product Game Development agency based in Colombo, Sri Lanka. We create disruptive change by crafting best-in-class digital products ventures.",
};
---

<!doctype html>
<html
  data-wf-page="65bb50b4d718d14519026d86"
  data-wf-site="65afaef75b2da61f9662587d"
  lang="en"
>
  <head>
    <BaseHead title={metadata.title} description={metadata.description} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <div class="cookies">
          <div id="consentPopup" fs-cc="banner" class="fs-cookie-popup">
            <div class="cookie-tag">You&#x27;re in control</div>
            <p class="cookie-paragraph">
              We need your consent so that we and our trusted partners can store
              and access cookies, unique identifiers, personal data, and
              information about your browsing behaviour on your device. <a
                href="cookie-policy.html">Learn More</a
              ><br />
            </p>
            <div
              id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad859869-19026d86"
              class="button-wrapper"
            >
              <a
                fs-cc="allow"
                id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad85986a-19026d86"
                href="#"
                class="cookie-button accept w-button">Accept all</a
              >
              <a
                fs-cc="deny"
                id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad85986c-19026d86"
                href="#"
                class="cookie-button w-button">Deny</a
              >
              <a
                fs-cc="open-preferences"
                id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad85986e-19026d86"
                href="#"
                class="preferences-link">Manage settings</a
              >
            </div>
          </div>
          <div fs-cc="preferences" class="fs-preferences-manager-wrapper">
            <div class="preferences-container">
              <div class="privacy-title">Preferences</div>
              <p class="paragraph">
                Privacy is important to us, so you have the option of disabling
                certain types of storage that may not be necessary for the basic
                functioning of the website. Blocking categories may impact your
                experience on the website. <a
                  href="privacy.html"
                  target="_blank"
                  class="link-privacy">More information</a
                ><br />
              </p>
              <a fs-cc="allow" href="#" class="cookie-button w-button"
                >Accept all cookies</a
              >
              <a fs-cc="close" href="#" class="close-button w-inline-block"
                ><img
                  src="images/np_close_25798_27313D.svg"
                  loading="lazy"
                  alt=""
                  class="image-28"
                /></a
              >
              <div class="consents-form w-form">
                <form
                  id="email-form"
                  name="email-form"
                  data-name="Email Form"
                  method="get"
                  data-wf-page-id="65bb50b4d718d14519026d86"
                  data-wf-element-id="c6ab20b0-ac03-3dd2-4536-8b62ad85987e"
                >
                  <div class="grid-6">
                    <div class="text-div">
                      <label for="name" class="cookie-tag">Essential</label>
                      <p class="paragraph">
                        These items are required to enable basic website
                        functionality.<br />
                      </p>
                    </div>
                    <p
                      id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad859886-19026d86"
                      class="paragraph bold"
                    >
                      Always active<br />
                    </p>
                  </div>
                  <div class="grid-6">
                    <div class="text-div">
                      <label for="name" class="cookie-tag">Marketing</label>
                      <p class="paragraph">
                        These items are used to deliver advertising that is more
                        relevant to you and your interests. <br />
                      </p>
                    </div><label
                      id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad859890-19026d86"
                      class="w-checkbox"
                    >
                      <div
                        class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"
                      >
                      </div><input
                        type="checkbox"
                        id="Checkbox-01"
                        name="Checkbox-01"
                        data-name="Checkbox-01"
                        fs-cc-checkbox="marketing"
                        style="opacity:0;position:absolute;z-index:-1"
                      /><span
                        class="checkbox-label w-form-label"
                        for="Checkbox-01"></span>
                    </label>
                  </div>
                  <div class="grid-6">
                    <div class="text-div">
                      <label for="name" class="cookie-tag"
                        >Personalization</label
                      >
                      <p class="paragraph">
                        These items allow the website to remember choices you
                        make (such as your user name, language, or the region
                        you are in) and provide enhanced, more personal
                        features. <br />
                      </p>
                    </div><label
                      id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad85989a-19026d86"
                      class="w-checkbox"
                    >
                      <div
                        class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"
                      >
                      </div><input
                        type="checkbox"
                        id="checkbox-3"
                        name="checkbox-3"
                        data-name="Checkbox 3"
                        fs-cc-checkbox="personalization"
                        style="opacity:0;position:absolute;z-index:-1"
                      /><span
                        class="checkbox-label w-form-label"
                        for="checkbox-3"></span>
                    </label>
                  </div>
                  <div fs-cc-checkbox="analytics" class="grid-6">
                    <div class="text-div">
                      <label for="name" class="cookie-tag">Analytics</label>
                      <p class="paragraph">
                        These items help the website operator understand how its
                        website performs, how visitors interact with the site,
                        and whether there may be technical issues. <br />
                      </p>
                    </div><label
                      id="w-node-c6ab20b0-ac03-3dd2-4536-8b62ad8598a4-19026d86"
                      class="w-checkbox"
                    >
                      <div
                        class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"
                      >
                      </div><input
                        type="checkbox"
                        id="Checkbox-02"
                        name="Checkbox-02"
                        data-name="Checkbox-02"
                        fs-cc-checkbox="analytics"
                        style="opacity:0;position:absolute;z-index:-1"
                      /><span
                        class="checkbox-label w-form-label"
                        for="Checkbox-02"></span>
                    </label>
                  </div>
                  <div class="w-layout-hflex gap-10">
                    <input
                      type="submit"
                      data-wait="Please wait..."
                      fs-cc="deny"
                      class="cookie-button w-button"
                      value="Reject all"
                    /><input
                      type="submit"
                      data-wait="Please wait..."
                      fs-cc="submit"
                      class="cookie-button accept w-button"
                      value="Confirm"
                    />
                  </div>
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  <section class="section-card hero">
    <div class="w-layout-blockcontainer container hero w-container">
      <div class="f-col w-row">
        <div class="column w-col w-col-6 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
          <div class="hero-desc">
            <h1 class="heading-1-seo">Better Tech, Better Design, Great Apps &amp; Games</h1>
            <div class="slide-up">
              <div>
                <h1 class="headline-1 darkblue">We Craft <br></h1>
              </div>
              <div>
                <h1 class="headline-1 darkblue">Best-in-class<br></h1>
              </div>
              <div style="opacity:0" class="heading-wrap fd">
                <div class="trim-fade top"></div>
                <div class="trim-fade bottom"></div>
                <h2 class="heading-st">Web apps</h2>
                <h2 class="heading-st">Mobile Apps</h2>
                <h2 class="heading-st">UI/UX Designs</h2>
                <h2 class="heading-st">Games</h2>
                <h2 class="heading-st">Digital Ventures</h2>
                <h2 class="heading-st">Web apps</h2>
              </div>
            </div>
            <h2 class="h5 hint-text">We help businesses thrive in a digital world, creating brands, web apps, strategies and games that work together in harmony.</h2>
            <a href="https://calendly.com/hello-rvx/30min" class="btn-primary m-0 hero w-button">Book a FREE consultation</a>
          </div>
        </div>
        <div class="flex-hero-video w-col w-col-6 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
          <nav data-poster-url="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-transcode.mp4,https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video-3 w-background-video w-background-video-atom"><video id="83639f25-8bd8-5a4d-9faf-930361fd5b8f-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
              <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-transcode.mp4" data-wf-ignore="true">
              <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65afb6cb8fe741c3b232b3cd_Hero_big-re-color-c_l-transcode.webm" data-wf-ignore="true">
            </video>
            <div class="color-fix"></div>
          </nav>
          <div class="video-wrapper"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative tech-stack">
    <div class="overflow-fade"></div>
    <div class="w-layout-blockcontainer container overflow-show w-container">
      <div class="techstack">
        <div class="tech-wrapper">
          <div class="overflow-hidder"></div>
          <div class="overline">technologies and tools we use</div>
          <div class="right-overflow"></div>
        </div>
        <div class="marquee">
          <div class="tech-wrapper">
            <div class="logo-icon base"></div>
            <div class="tech-text">Angular<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base react"></div>
            <div class="tech-text">React<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base react"></div>
            <div class="tech-text sm">React<br>Native<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base php"></div>
            <div class="tech-text">PHP<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base net"></div>
            <div class="tech-text">.Net<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base firebase"></div>
            <div class="tech-text">Firebase<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base nodejs"></div>
            <div class="tech-text">NodeJS<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base mongodb"></div>
            <div class="tech-text">MongoDB<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base tailwind"></div>
            <div class="tech-text">Tailwind css<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base bootstrap"></div>
            <div class="tech-text">Bootstrap css<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base alibabacloud"></div>
            <div class="tech-text">Alibaba Cloud<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base aws"></div>
            <div class="tech-text">AWS<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base figma"></div>
            <div class="tech-text">Figma<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base spline"></div>
            <div class="tech-text">Spline<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base protopie"></div>
            <div class="tech-text">Protopie<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base ae"></div>
            <div class="tech-text">After Effects<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base blender"></div>
            <div class="tech-text">Blender<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base unreal"></div>
            <div class="tech-text">Unreal<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base unity"></div>
            <div class="tech-text">Unity<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base houdini"></div>
            <div class="tech-text">Houdini<br></div>
          </div>
        </div>
        <div class="marquee">
          <div class="tech-wrapper">
            <div class="logo-icon base"></div>
            <div class="tech-text">Angular<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base react"></div>
            <div class="tech-text">React<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base react"></div>
            <div class="tech-text sm">React<br>Native<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base php"></div>
            <div class="tech-text">PHP<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base net"></div>
            <div class="tech-text">.Net<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base firebase"></div>
            <div class="tech-text">Firebase<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base nodejs"></div>
            <div class="tech-text">NodeJS<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base mongodb"></div>
            <div class="tech-text">MongoDB<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base tailwind"></div>
            <div class="tech-text">Tailwind css<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base bootstrap"></div>
            <div class="tech-text">Bootstrap css<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base alibabacloud"></div>
            <div class="tech-text">Alibaba Cloud<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base aws"></div>
            <div class="tech-text">AWS<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base figma"></div>
            <div class="tech-text">Figma<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base spline"></div>
            <div class="tech-text">Spline<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base protopie"></div>
            <div class="tech-text">Protopie<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base ae"></div>
            <div class="tech-text">After Effects<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base blender"></div>
            <div class="tech-text">Blender<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base unreal"></div>
            <div class="tech-text">Unreal<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base unity"></div>
            <div class="tech-text">Unity<br></div>
          </div>
          <div class="tech-wrapper">
            <div class="logo-icon base houdini"></div>
            <div class="tech-text">Houdini<br></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer w-container">
      <div class="w-layout-hflex flex-block">
        <div class="div-block-4">
          <h2 class="heading-3 text-center">We help ambitious entrepreneurs concept, craft and launch ideas across digital products</h2>
        </div>
        <div class="div-block-5">
          <div class="text-lg center mw-700">We are on a mission to make the ever growing digital age more human friendly through a balance of great design, efficient technology and distruptive brands.</div>
          <a href="work.html" class="btn-text w-button">See our work</a>
        </div>
      </div>
    </div>
  </section>
  <div class="overflow">
    <div class="page-padding">
      <div class="fader"></div>
      <div class="realative w-container"><img src="images/revox-hand.webp" loading="lazy" width="160" alt="" class="hand-absolute">
        <div class="padding-vertical">
          <div class="overline teal-30">Our capabilities</div>
          <h2 class="heading-4 blue-100">A Turn-key Solution from Branding to Design to Development to Deployment. We’ve Got You Covered.</h2>
        </div>
        <div class="splide slider1">
          <div class="splide__track">
            <div class="splide__list">
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/image-1806.webp" loading="lazy" width="85" alt="" class="img-feature">
                    <h1 class="heading-4 card">Identity &amp; Branding.<br></h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">Your logo is not your brand. We can help you create a memorable and trustworthy brand.</div>
                    <div class="text-base">#Brand Identity, #Visual Stratergy, #Digital Marketing, #Guidelines </div>
                  </div>
                </div>
              </div>
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/image-1801.webp" loading="lazy" width="85" alt="" class="img-feature">
                    <h1 class="heading-4 card">UI/UX <br>Design</h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">Design is one of our strong suits. We can help you elevate your app to world-class standards</div>
                    <div class="text-base">#UX Audits, #Product Re-design, #UX Design, #Heuristic Evaluation, #Human Centered Design</div>
                  </div>
                </div>
              </div>
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/image-1803.webp" loading="lazy" width="85" alt="" class="img-feature">
                    <h1 class="heading-4 card">Web<br>Development</h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">Need a custom app or custom enhancements to your existing app? Our team can help you create a phenomenal app.</div>
                    <div class="text-base">#Frontend, #Backend, #DevOps</div>
                  </div>
                </div>
              </div>
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/mobile2x.webp" loading="lazy" width="85" alt="" class="img-feature">
                    <h1 class="heading-4 card">Mobile App<br>Development</h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">Interested in creating a mobile application? Our team of developers is here to help!</div>
                    <div class="text-base">#Swift, #Native Android, #React Native</div>
                  </div>
                </div>
              </div>
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/image-1804.webp" loading="lazy" width="87.5" alt="" class="img-feature">
                    <h1 class="heading-4 card">Game Development</h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">We make innovative and immersive worlds, powered by leading-edge technology, to deliver an intense gaming experience.</div>
                    <a href="http://foxtale.studio/" target="_blank" class="btn-text w-button">See Studio →</a>
                    <div class="text-base">#Unreal #Unity #Blender #Houdini #Gamification</div>
                  </div>
                </div>
              </div>
              <div class="splide__slide">
                <div class="card-white">
                  <div class="card-head"><img src="images/image-1804-1.webp" loading="lazy" width="87.5" alt="" class="img-feature">
                    <h1 class="heading-4 card">Artificial Intelligence</h1>
                  </div>
                  <div class="div-block-2">
                    <div class="text-lg">Artificial Intelligence is no longer just a trend; it&#x27;s now a necessity</div>
                    <div class="text-base">We ensure we stay at the forefront by integrating AI into your custom software solutions.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="splide__arrows">
            <a href="#d" class="splide__arrow splide__arrow--prev w-button"></a>
            <a href="#d" class="splide__arrow splide__arrow--next w-button"></a>
            <div class="hidden">
              <div class="splide__pagination">
                <div class="splide__pagination__page"></div>
                <div class="splide__pagination__page is-active"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="w-layout-blockcontainer w-container">
      <div class="w-layout-hflex flex-block">
        <div class="flex-h center">
          <h1 class="heading-4 text-center mx-w-80">We give you agency quality without the price tag.</h1>
        </div>
        <div class="div-block-5">
          <div class="text-lg center mw-700">Onboarding bottlenecks, low engagement, hard-to-use product, incohesive app and website, unpolished MVP, lack of strong visual presence, unimpressed investors, drowning in design and development debt. We can help you tackle it.</div>
        </div>
        <a href="https://calendly.com/hello-rvx/30min" class="btn-primary w-button">Book a FREE consultation</a>
      </div>
    </div>
  </section>
  <section class="bg-black p-t-40 p-b-20">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex flex-h center">
        <h2 class="heading-6 text-center text-white">Memories and stories<br>we&#x27;ve shared.</h2>
      </div>
    </div>
  </section>
  <div class="slide-container">
    <div class="w-embed">
      <style>
.slick-slide {
	outline: none !important;
}
.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}
.slick-center {
	transform: scale(1);
	opacity: 1;
	transition: all 0.2s;
	-webkit-transform: scale(1);   
}
.slide-item-wrapper:focus {
  outline: transparent none 0;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0;
}
.slick-track {
	margin: 0;
}
.slide-items {
	display: flex !important;
}
.slick-list, .slick-slider, .slick-track {
	position: relative;
	display: flex;
	align-items: center;
	height: auto;		  
}
.slide-prev, .slide-next {
	display: flex !important;
}
.slide-prev.slick-disabled, .slide-next.slick-disabled {
	opacity: 0 !important;
	display: none !important;
}
.slick-dots {
	padding: 0 10px;
  bottom: 0;
  left: 50%;
  width: 100%;
	max-width: 50vw;
  transform: translateX(-50%);
  list-style: none; 
  text-align: center;
  background: transparent;
	display: flex;
  margin: 0 auto;
  justify-content: center;
  z-index: 1;
}
.slick-dots li {
	  position:relative;
    list-style: none;
    width:100%;
		max-width:100px;
    height: 4px;
    margin-right: 0 0 5px 0;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    transition: all 0.2s;
		transition-timing-function: linear;
}
.slick-dots li:last-of-type {
	margin-right: 0;
}
.slick-dots li:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
.slick-dots li button {
	position:absoulute;
	padding: 0 !important;
	top: 0;
  left 0;
  width: 100% ;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  background: transparent ;
  background-color: white;
}
.slick-dots li.slick-active button {
  width: 100%;
  border-radius: 10px;
  -webkit-animation: activeNav 10.5s forwards; 
  animation: activeNav 10.5s  forwards;
  transition-timing-function: linear;
}
.slick-dots li button:before {
  display: none;
  content: '';
  position:absoulute;
  top: 0;
  left 0;
  width: 0;
  height: 0;
  cursor: pointer;
  background: transparent ;
}
@keyframes activeNav {
  0% {
    width : 0;
  }
  100% {
    width :  100%;
  }
}
/*Responsive tablet view*/
@media only screen and (max-width: 991px) {
 .slick-dots {
     max-width: 75vw;
     }
}
/*Responsive mobile view*/
@media only screen and (max-width: 767px) {
.slide-prev.desktop-arrow, .slide-next.desktop-arrow {
	opacity: 0 !important;
	display: none !important;
}
		.slick-dots{
      position: absolute !important;
      top: 18px;
      left: 0;
      transform: translateX(0);
      z-index: 999999999;
      height: 5px; 
      max-width: 100%;
	/*Layouts mobile*/
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(2px, 1fr) );
      grid-gap: 5px;
	}
.slick-dots li{
  width: 100%;
  margin: 0;
}
.slick-track {
   height: 100%;
}
.slick-list, .slick-slider, .slick-track {
		height: 100%;
}
}
</style>
    </div>
    <div class="wrapper">
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="content-wrapper"><img src="images/play-expo-2_1.avif" alt="" class="image">
            <div class="story-desc">
              <div class="p text-white">Revox participated Sri Lanka&#x27;s largest youth expo for tech and games.</div>
            </div>
          </div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="content-wrapper"><img src="images/halloween_1.avif" alt="" class="image">
            <div class="story-desc">
              <div class="p text-white">Revox Trick or Treat Costume Halloween Party  </div>
            </div>
          </div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="videos/anniversary-poster-00001.jpg" data-video-urls="videos/anniversary-transcode.mp4,videos/anniversary-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="f0d10213-1aaf-ec6f-f4fc-e3b4f922081d-video" autoplay="" loop="" style="background-image:url(&quot;videos/anniversary-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/anniversary-transcode.mp4" data-wf-ignore="true">
                <source src="videos/anniversary-transcode.webm" data-wf-ignore="true">
              </video></div>
            <div class="story-desc">
              <div class="p text-white">Celebrating 11 years of excellence at revox</div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div class="slide-prev mobile-prev"></div>
            <div class="slide-next mobile-next"></div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-transcode.mp4,https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="3589da80-c1e0-f98d-c488-1664970738bc-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-transcode.mp4" data-wf-ignore="true">
                <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce0cedb02cac9d9299e241_sponsor-event-revox-transcode.webm" data-wf-ignore="true">
              </video></div>
          </div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-transcode.mp4,https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="e5ef635f-492d-80cd-08f0-bb19344f8277-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-transcode.mp4" data-wf-ignore="true">
                <source src="https://uploads-ssl.webflow.com/65afaef75b2da61f9662587d/65ce05ca81979b6d0bca43c4_revox-live-to-love-transcode.webm" data-wf-ignore="true">
              </video></div>
            <div class="story-desc">
              <div class="p text-white">Main Sponsor for one of the biggest Sri Lankan musical Event.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="videos/Revox-Christmas-720-poster-00001.jpg" data-video-urls="videos/Revox-Christmas-720-transcode.mp4,videos/Revox-Christmas-720-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="f76fe7d0-32a7-39da-741d-7139b6b01deb-video" autoplay="" loop="" style="background-image:url(&quot;videos/Revox-Christmas-720-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/Revox-Christmas-720-transcode.mp4" data-wf-ignore="true">
                <source src="videos/Revox-Christmas-720-transcode.webm" data-wf-ignore="true">
              </video></div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="content-wrapper"><img src="images/christmas_1.avif" alt="" class="image"></div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="videos/happy-new-year-revox-poster-00001.jpg" data-video-urls="videos/happy-new-year-revox-transcode.mp4,videos/happy-new-year-revox-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="7d02dabf-ba6d-f7ff-0212-468fa02fa2c5-video" autoplay="" loop="" style="background-image:url(&quot;videos/happy-new-year-revox-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/happy-new-year-revox-transcode.mp4" data-wf-ignore="true">
                <source src="videos/happy-new-year-revox-transcode.webm" data-wf-ignore="true">
              </video></div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
          <div class="content-wrapper">
            <div data-poster-url="videos/play-expo-f-poster-00001.jpg" data-video-urls="videos/play-expo-f-transcode.mp4,videos/play-expo-f-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg-story w-background-video w-background-video-atom"><video id="9b81623b-58c5-10de-8125-bc4aada0d921-video" autoplay="" loop="" style="background-image:url(&quot;videos/play-expo-f-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/play-expo-f-transcode.mp4" data-wf-ignore="true">
                <source src="videos/play-expo-f-transcode.webm" data-wf-ignore="true">
              </video></div>
            <div class="story-desc">
              <div class="p text-white">Sri Lanka&#x27;s largest youth expo celebrating the best of gaming, technology and innovation featuring the Colombo Comic Expo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="content-wrapper"><img src="images/g-a-d.webp" alt="Revox Accessibility" sizes="(max-width: 616px) 100vw, 616px" srcset="images/g-a-d-p-500.jpg 500w, images/g-a-d.webp 616w" class="image">
            <div class="story-desc">
              <div class="p text-white">Celebrating equal access for the internet and technology.</div>
            </div>
          </div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-item-wrapper">
          <div class="content-wrapper"><img src="images/dansala.webp" alt="Revox Dansala" sizes="(max-width: 616px) 100vw, 616px" srcset="images/dansala-p-500.jpg 500w, images/dansala.webp 616w" class="image">
            <div class="story-desc">
              <div class="p text-white">Ice cream give-away gave smiles to over 4,000 people around the city.</div>
            </div>
          </div>
          <div class="inner-swipe">
            <div>
              <div class="slide-prev mobile-prev"></div>
            </div>
            <div>
              <div class="slide-next mobile-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-next desktop-arrow"><img src="images/download.svg" loading="lazy" alt="" class="image-26"></div>
    <div class="slide-prev desktop-arrow"><img src="images/download-1.svg" loading="lazy" alt="" class="image-26"></div>
  </div>
  <section class="bg-l-blue careers">
    <div class="w-layout-blockcontainer container flex-v center w-container">
      <div class="career-wrapper"><img src="images/Ellipse-5.webp" loading="lazy" width="84" alt="" class="c _8"><img src="images/Ellipse-7.webp" loading="lazy" width="82" alt="" class="c _7"><img src="images/Ellipse-4-1.webp" loading="lazy" width="134" style="opacity:0" alt="" class="c"><img src="images/Ellipse-17.webp" loading="lazy" width="45" alt="" class="c _2"><img src="images/Ellipse-4.webp" loading="lazy" width="134" alt="" class="c _3"><img src="images/Ellipse-12.webp" loading="lazy" width="93" alt="" class="c _12"><img src="images/Ellipse-10.webp" loading="lazy" width="122" alt="" class="c _4"><img src="images/Ellipse-16.webp" loading="lazy" width="89" alt="" class="c _10"><img src="images/Ellipse-6.webp" loading="lazy" width="76" alt="" class="c _11"><img src="images/Ellipse-14.webp" loading="lazy" width="104" alt="" class="c _5"><img src="images/Ellipse-13.webp" loading="lazy" width="128" alt="" class="c _9"><img src="images/Ellipse-8.webp" loading="lazy" width="122" alt="" class="c _6">
        <div class="flex-v center">
          <div class="overline">We are hiring</div>
          <h2 class="heading-5 text-center mx-w-80">Join us and become a part of world class products and services.</h2>
        </div>
        <a href="careers.html" class="btn-primary black w-button">Explore Job Openings</a>
      </div>
    </div>
  </section>
  <div class="svg-defs-01 w-embed"><!--  SVG definitions. We are using 3 different embeds due to the 10000 character limit  -->
    <svg>
      <defs>
        <path id="caret" d="M28 12.5l-2.5-2.5-8.914 8.914-9.086-8.914-2.5 2.5 11.5 11.5z"></path>
        <path id="globe" d="M9.5,0 C4.275,0 0,4.275 0,9.5 C0,14.725 4.275,19 9.5,19 C14.725,19 19,14.725 19,9.5 C19,4.275 14.725,0 9.5,0 Z M16.98125,5.9375 L13.359375,5.9375 C13.0625,4.096875 12.528125,2.553125 11.815625,1.54375 C14.13125,2.196875 15.971875,3.8 16.98125,5.9375 Z M12.46875,9.5 C12.46875,10.33125 12.409375,11.103125 12.35,11.875 L6.65,11.875 C6.590625,11.103125 6.53125,10.33125 6.53125,9.5 C6.53125,8.66875 6.590625,7.896875 6.65,7.125 L12.35,7.125 C12.409375,7.896875 12.46875,8.66875 12.46875,9.5 Z M9.5,17.8125 C8.490625,17.8125 7.3625,15.971875 6.828125,13.0625 L12.171875,13.0625 C11.6375,15.971875 10.509375,17.8125 9.5,17.8125 Z M6.828125,5.9375 C7.3625,3.028125 8.490625,1.1875 9.5,1.1875 C10.509375,1.1875 11.6375,3.028125 12.171875,5.9375 L6.828125,5.9375 Z M7.184375,1.54375 C6.471875,2.553125 5.9375,4.096875 5.640625,5.9375 L2.01875,5.9375 C3.028125,3.8 4.86875,2.196875 7.184375,1.54375 Z M1.54375,7.125 L5.4625,7.125 C5.403125,7.896875 5.34375,8.66875 5.34375,9.5 C5.34375,10.33125 5.403125,11.103125 5.4625,11.875 L1.54375,11.875 C1.30625,11.103125 1.1875,10.33125 1.1875,9.5 C1.1875,8.66875 1.30625,7.896875 1.54375,7.125 Z M2.01875,13.0625 L5.640625,13.0625 C5.9375,14.903125 6.471875,16.446875 7.184375,17.45625 C4.86875,16.803125 3.028125,15.2 2.01875,13.0625 Z M11.815625,17.45625 C12.528125,16.3875 13.0625,14.903125 13.359375,13.0625 L16.98125,13.0625 C15.971875,15.2 14.13125,16.803125 11.815625,17.45625 Z M17.45625,11.875 L13.5375,11.875 C13.596875,11.103125 13.65625,10.33125 13.65625,9.5 C13.65625,8.66875 13.596875,7.896875 13.5375,7.125 L17.45625,7.125 C17.69375,7.896875 17.8125,8.66875 17.8125,9.5 C17.8125,10.33125 17.69375,11.103125 17.45625,11.875 Z"></path>
        <path id="envelope" d="m15.4375 2.375h-11.875c-1.959375 0-3.5625 1.603125-3.5625 3.5625v7.125c0 1.959375 1.603125 3.5625 3.5625 3.5625h11.875c1.959375 0 3.5625-1.603125 3.5625-3.5625v-7.125c0-1.959375-1.603125-3.5625-3.5625-3.5625zm0 1.1875c.415625 0 .83125.11875 1.1875.35625l-6.709375 6.709375c-.2375.2375-.59375.2375-.83125 0l-6.709375-6.709375c.35625-.2375.771875-.35625 1.1875-.35625zm2.375 9.5c0 1.30625-1.06875 2.375-2.375 2.375h-11.875c-1.30625 0-2.375-1.06875-2.375-2.375v-7.125c0-.415625.11875-.83125.35625-1.1875l6.709375 6.709375c.35625.35625.771875.534375 1.246875.534375s.95-.178125 1.246875-.534375l6.709375-6.709375c.2375.35625.35625.771875.35625 1.1875z"></path>
        <path id="objectives" d="M28.4801 24.0808L23.5201 16.4008C24.8001 14.8008 25.6001 12.7208 25.6001 10.4008C25.6001 5.12079 21.2801 0.800781 16.0001 0.800781C10.7201 0.800781 6.40008 5.12079 6.40008 10.4008C6.40008 12.7208 7.20008 14.8008 8.56008 16.4808L3.60008 24.1608C2.64008 25.6008 2.56008 27.3608 3.44008 28.8808C4.24008 30.4008 5.76008 31.2808 7.52008 31.2808H24.7201C26.4001 31.2808 27.9201 30.4008 28.8001 28.8808C29.6801 27.3608 29.3601 25.5208 28.4801 24.0808ZM8.80008 10.4008C8.80008 6.40079 12.0001 3.20079 16.0001 3.20079C20.0001 3.20079 23.2001 6.40079 23.2001 10.4008C23.2001 11.8408 22.8001 13.2008 22.0801 14.3208L19.9201 10.9608C19.0401 9.68079 17.6001 8.88079 16.0801 8.88079C14.5601 8.88079 13.1201 9.68079 12.2401 10.9608L10.0801 14.3208C9.20008 13.2008 8.80008 11.8408 8.80008 10.4008ZM20.4001 16.1608C19.1201 17.0408 17.6801 17.6008 16.0001 17.6008C14.3201 17.6008 12.8801 17.0408 11.6001 16.0808L14.1601 12.2408C14.5601 11.6008 15.2801 11.2808 16.0001 11.2808C16.7201 11.2808 17.4401 11.6808 17.8401 12.2408L20.4001 16.1608ZM26.5601 27.6808C26.1601 28.4008 25.4401 28.8008 24.6401 28.8008H7.36008C6.56008 28.8008 5.84008 28.4008 5.44008 27.6808C5.04008 26.9608 5.12008 26.1608 5.52008 25.4408L10.3201 18.1608C11.9201 19.3608 13.8401 20.0008 16.0001 20.0008C18.1601 20.0008 20.0801 19.2808 21.6801 18.1608L26.4801 25.4408C26.8801 26.0808 26.9601 26.9608 26.5601 27.6808Z"></path>
        <path id="cronogram" d="M0,9 L0,11 C0,12.7 1.3,14 3,14 L14,14 L14,12 L3,12 C2.4,12 2,11.6 2,11 L2,9 C2,8.4 2.4,8 3,8 L14,8 L14,6 L3,6 C1.3,6 0,7.3 0,9 Z M8,19 L8,21 C8,22.7 9.3,24 11,24 L14,24 L14,22 L11,22 C10.4,22 10,21.6 10,21 L10,19 C10,18.4 10.4,18 11,18 L14,18 L14,16 L11,16 C9.3,16 8,17.3 8,19 Z M29,16 L18,16 L18,14 L21,14 C22.7,14 24,12.7 24,11 L24,9 C24,7.3 22.7,6 21,6 L18,6 L18,3 C18,2.4 17.6,2 17,2 C16.4,2 16,2.4 16,3 L16,27 C16,27.6 16.4,28 17,28 C17.6,28 18,27.6 18,27 L18,24 L29,24 C30.7,24 32,22.7 32,21 L32,19 C32,17.3 30.7,16 29,16 Z M18,8 L21,8 C21.6,8 22,8.4 22,9 L22,11 C22,11.6 21.6,12 21,12 L18,12 L18,8 Z M30,21 C30,21.6 29.6,22 29,22 L18,22 L18,18 L29,18 C29.6,18 30,18.4 30,19 L30,21 Z"></path>
        <path id="portfolio" d="M4.44444444,30 C5.21481481,30 5.88888889,29.3466667 5.88888889,28.6 L5.88888889,3.4 C5.88888889,2.65333333 5.21481481,2 4.44444444,2 C3.67407407,2 3,2.65333333 3,3.4 L3,28.6 C3,29.3466667 3.67407407,30 4.44444444,30 Z M12.1481481,13.2 C12.9185185,13.2 13.5925926,13.8533333 13.5925926,14.6 L13.5925926,28.6 C13.5925926,29.3466667 12.9185185,30 12.1481481,30 C11.3777778,30 10.7037037,29.3466667 10.7037037,28.6 L10.7037037,14.6 C10.7037037,13.8533333 11.3777778,13.2 12.1481481,13.2 Z M21.2962963,7.13333333 C21.2962963,6.38666667 20.6222222,5.73333333 19.8518519,5.73333333 C19.0814815,5.73333333 18.4074074,6.38666667 18.4074074,7.13333333 L18.4074074,28.6 C18.4074074,29.3466667 19.0814815,30 19.8518519,30 C20.6222222,30 21.2962963,29.3466667 21.2962963,28.6 L21.2962963,7.13333333 Z M27.5555556,19.7333333 C28.3259259,19.7333333 29,20.3866667 29,21.1333333 L29,28.6 C29,29.3466667 28.3259259,30 27.5555556,30 C26.7851852,30 26.1111111,29.3466667 26.1111111,28.6 L26.1111111,21.1333333 C26.1111111,20.3866667 26.7851852,19.7333333 27.5555556,19.7333333 Z"></path>
        <path id="resources" d="M26,28 L6,28 C2.7,28 0,25.3 0,22 L0,10 C0,6.7 2.7,4 6,4 L26,4 C29.3,4 32,6.7 32,10 L32,22 C32,25.3 29.3,28 26,28 Z M6,6 C3.8,6 2,7.8 2,10 L2,22 C2,24.2 3.8,26 6,26 L26,26 C28.2,26 30,24.2 30,22 L30,10 C30,7.8 28.2,6 26,6 L6,6 Z M8.6,20.2 L13.8,16.1 L18.9,19.2 C19.3,19.5 19.9,19.4 20.2,19 L24.8,13.3 C25.1,12.9 25.1,12.2 24.6,11.9 C24.2,11.6 23.5,11.6 23.2,12.1 L19.2,17.1 L14.2,14.1 C13.8,13.9 13.4,13.9 13.1,14.2 L7.4,18.8 C7,19.1 6.9,19.8 7.2,20.2 C7.4,20.4 7.7,20.6 8,20.6 C8.2,20.4 8.4,20.4 8.6,20.2 Z"></path>
        <path id="forms" d="M26,3 C29.3,3 32,5.7 32,9 L32,23 C32,26.3 29.3,29 26,29 L6,29 C2.7,29 0,26.3 0,23 L0,9 C0,5.7 2.7,3 6,3 L26,3 Z M30,23 L30,9 C30,6.8 28.2,5 26,5 L6,5 C3.8,5 2,6.8 2,9 L2,23 C2,25.2 3.8,27 6,27 L26,27 C28.2,27 30,25.2 30,23 Z M9,15 L23,15 C24.6569,15 26,16.3431 26,18 L26,20 C26,21.6569 24.6569,23 23,23 L9,23 C7.34315,23 6,21.6569 6,20 L6,18 C6,16.3431 7.34315,15 9,15 Z M9,17 C8.44772,17 8,17.4477 8,18 L8,20 C8,20.5523 8.44772,21 9,21 L23,21 C23.5523,21 24,20.5523 24,20 L24,18 C24,17.4477 23.5523,17 23,17 L9,17 Z M7,9 L19,9 C19.5523,9 20,9.44772 20,10 C20,10.5523 19.5523,11 19,11 L7,11 C6.44772,11 6,10.5523 6,10 C6,9.44772 6.44772,9 7,9 Z"></path>
        <path id="automation" d="M18.5641,2.02165 C20.0234,0.562365 22.4683,2.00098 21.9014,3.98531 L19.3257,13.9999 L25.5858,13.9999 C27.3676,13.9999 28.26,16.1542 27,17.4142 L13.4359,29.9782 C11.9766,31.4375 9.53172,29.9989 10.0987,28.0146 L12.6743,17.9999 L6.41423,17.9999 C4.63243,17.9999 3.74008,15.8457 5.00001,14.5857 L18.5641,2.02165 Z M19.9783,3.43587 L6.41423,16 L12.6743,15.9999 C14.003,15.9999 14.9624,17.2718 14.5973,18.5494 L12.0217,28.564 L25.5858,15.9999 L19.3257,15.9999 C17.997,15.9999 17.0377,14.7281 17.4027,13.4505 L19.9783,3.43587 Z"></path>
        <path id="cog" d="M17.225 2l0.739 2.216 0.324 0.973 0.98 0.304c0.611 0.19 1.231 0.449 1.842 0.771l0.908 0.478 3.016-1.508 1.733 1.733-1.508 3.016 0.478 0.908c0.322 0.612 0.581 1.231 0.771 1.842l0.304 0.98 3.188 1.062v2.45l-3.189 1.063-0.304 0.98c-0.19 0.611-0.449 1.23-0.771 1.842l-0.478 0.908 1.508 3.016-1.733 1.733-3.016-1.508-0.908 0.478c-0.612 0.322-1.231 0.581-1.842 0.771l-0.98 0.304-0.324 0.973-0.738 2.215h-2.45l-0.739-2.216-0.324-0.973-0.98-0.304c-0.611-0.19-1.23-0.449-1.842-0.771l-0.908-0.478-3.016 1.508-1.733-1.733 1.508-3.016-0.477-0.907c-0.322-0.612-0.581-1.232-0.771-1.842l-0.304-0.98-3.189-1.063v-2.45l3.189-1.063 0.304-0.98c0.19-0.611 0.449-1.231 0.771-1.842l0.478-0.908-1.508-3.015 1.733-1.733 3.016 1.508 0.908-0.478c0.612-0.322 1.232-0.581 1.842-0.771l0.98-0.304 1.062-3.189h2.45zM16 22c3.308 0 6-2.692 6-6s-2.692-6-6-6-6 2.692-6 6 2.692 6 6 6zM18.667 0h-5.333l-1.194 3.583c-0.76 0.236-1.487 0.546-2.18 0.911l-3.388-1.693-3.771 3.771 1.693 3.387c-0.365 0.693-0.675 1.42-0.911 2.18l-3.583 1.194v5.333l3.583 1.194c0.236 0.76 0.546 1.487 0.911 2.18l-1.693 3.387 3.771 3.771 3.387-1.693c0.693 0.365 1.42 0.675 2.18 0.911l1.194 3.584h5.333l1.194-3.583c0.76-0.236 1.487-0.546 2.18-0.911l3.387 1.693 3.771-3.771-1.693-3.387c0.365-0.693 0.675-1.42 0.911-2.18l3.584-1.194v-5.333l-3.583-1.194c-0.236-0.76-0.546-1.487-0.911-2.18l1.693-3.387-3.771-3.771-3.387 1.693c-0.693-0.365-1.42-0.675-2.18-0.911l-1.194-3.584zM16 20c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4v0z"></path>
      </defs>
    </svg>
  </div>
  <div class="global-styles">
    <div class="html w-embed">
      <style>
/* Main Variables */
:root {
  --main-dark: black;
  --main-light: white;
}
/* Global Styles */
::selection {
	background: var(--main-dark);
  color: var(--main-light);
  text-shadow: none;
}
img::selection, svg::selection {
	background: transparent;
}
/* Link color inherits from parent font color  */
a {
	color: inherit;
}
/* Disable / enable clicking on an element and its children  */
.no-click {
	pointer-events: none;
}
.can-click {
	pointer-events: auto;
}
/* Target any element with a certain "word" in the class name  */
[class*="spacer"] {
}
.text-color-clip{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
</style>
    </div>
    <div class="page-styles w-embed">
      <style>
.home-hero_container {
	pointer-events: none;
}
.home-hero_heading.is-outline {
	-webkit-text-stroke: 1.5px #111111;
}
</style>
    </div>
  </div>
      </main>
      <Footer />
    </div>
    <style>
      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </body>
</html>
