---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const metadata = {
  title: "Revox - We build software and games",
  description:
    "We are a Digital Product Game Development agency based in Colombo, Sri Lanka. We create disruptive change by crafting best-in-class digital products ventures.",
};
---

<!doctype html>
<html
  data-wf-page="65f2dbe4971cf823de0103f0"
  data-wf-site="65afaef75b2da61f9662587d"
  lang="en"
>
  <head>
    <BaseHead title={metadata.title} description={metadata.description} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-wrapper">
        <section class="section-first">
          <div
            class="w-layout-blockcontainer container text-width p-60 w-container"
          >
            <h1 class="heading-4">Privacy Policy</h1>
            <div class="p m-b-40">
              At Revox, accessible from www.revox.io, one of our main priorities
              is the privacy of our visitors. This Privacy Policy document
              contains types of information that is collected and recorded by
              Revox and how we use it.<br />
            </div>
            <div class="f-w-wrapper">
              <h3 class="heading-6">Types of Data collected</h3>
              <div class="p">
                Among the types of Personal Data that this Application collects,
                by itself or through third parties, there are: first name, last
                name, email address, username, various types of Data, Cookies
                and Usage Data. Complete details on each type of Personal Data
                collected are provided in the dedicated sections of this privacy
                policy or by specific explanation texts displayed prior to the
                Data collection. <br /><br />Personal Data may be freely
                provided by the User, or, in the case of Usage Data, collected
                automatically when using this Application. <br /><br />Unless
                specified otherwise, all Data requested by this Application is
                mandatory and failure to provide this Data may make it
                impossible for this Application to provide its services. In
                cases where this Application specifically states that some Data
                is not mandatory, Users are free not to communicate this Data
                without consequences to the availability or the functioning of
                the Service. Users who are uncertain about which Personal Data
                is mandatory are welcome to contact the Owner. <br /><br />Any
                use of Cookies – or of other tracking tools – by this
                Application or by the owners of third-party services used by
                this Application serves the purpose of providing the Service
                required by the User, in addition to any other purposes
                described in the present document and in the Cookie Policy, if
                available. Users are responsible for any third-party Personal
                Data obtained, published or shared through this Application and
                confirm that they have the third party’s consent to provide the
                Data to the Owner.<br />
              </div>
            </div>
            <div class="f-w-wrapper">
              <h3 class="heading-6">Mode and place of processing the Data</h3>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Methods of processing</h4>
                <div class="p">
                  The Owner takes appropriate security measures to prevent
                  unauthorized access, disclosure, modification, or unauthorized
                  destruction of the Data.<br /><br />Data processing is carried
                  out using computers and/or IT-enabled tools, following
                  organizational procedures and modes strictly related to the
                  purposes indicated. In addition to the Owner, in some cases,
                  the Data may be accessible to certain types of persons in
                  charge, involved with the operation of this Application
                  (administration, sales, marketing, legal, system
                  administration) or external parties (such as third-party
                  technical service providers, mail carriers, hosting providers,
                  IT companies, communications agencies) appointed, if
                  necessary, as Data Processors by the Owner. The updated list
                  of these parties may be requested from the Owner at any time.<br
                  />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">The legal basis of the processing</h4>
                <div class="p">
                  The Owner may process Personal Data relating to Users if one
                  of the following applies: Users have given their consent for
                  one or more specific purposes. Note: Under some legislation,
                  the Owner may be allowed to process Personal Data until the
                  User objects to such processing (“opt-out”), without having to
                  rely on consent or any other of the following legal bases.
                  This, however, does not apply, whenever the processing of
                  Personal Data is subject to European data protection law;
                  provision of Data is necessary for the performance of an
                  agreement with the User and/or for any pre-contractual
                  obligations thereof; processing is necessary for compliance
                  with a legal obligation to which the Owner is subject;
                  processing is related to a task that is carried out in the
                  public interest or in the exercise of official authority
                  vested in the Owner; processing is necessary for the purposes
                  of the legitimate interests pursued by the Owner or by a third
                  party. In any case, the Owner will gladly help to clarify the
                  specific legal basis that applies to the processing, and in
                  particular whether the provision of Personal Data is a
                  statutory or contractual requirement, or a requirement
                  necessary to enter into a contract.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Third Party Privacy Policies</h4>
                <div class="p">
                  altspace theme”s Privacy Policy does not apply to other
                  advertisers or websites. Thus, we are advising you to consult
                  the respective Privacy Policies of these third-party ad
                  servers for more detailed information. It may include their
                  practices and instructions about how to opt-out of certain
                  options.You can choose to disable cookies through your
                  individual browser options.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Place</h4>
                <div class="p">
                  The Data is processed at the Owner’s operating offices and in
                  any other places where the parties involved in the processing
                  are located.<br /><br />Depending on the User’s location, data
                  transfers may involve transferring the User’s Data to a
                  country other than their own. To find out more about the place
                  of processing of such transferred Data, Users can check the
                  section containing details about the processing of Personal
                  Data. Users are also entitled to learn about the legal basis
                  of Data transfers to a country outside the European Union or
                  to any international organization governed by public
                  international law or set up by two or more countries, such as
                  the UN, and about the security measures taken by the Owner to
                  safeguard their Data. <br /><br />If any such transfer takes
                  place, Users can find out more by checking the relevant
                  sections of this document or inquire with the Owner using the
                  information provided in the contact section.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Retention time</h4>
                <div class="p">
                  Personal Data shall be processed and stored for as long as
                  required by the purpose they have been collected for.
                  Therefore: Personal Data collected for purposes related to the
                  performance of a contract between the Owner and the User shall
                  be retained until such contract has been fully performed.
                  Personal Data collected for the purposes of the Owner’s
                  legitimate interests shall be retained as long as needed to
                  fulfil such purposes. Users may find specific information
                  regarding the legitimate interests pursued by the Owner within
                  the relevant sections of this document or by contacting the
                  Owner. The Owner may be allowed to retain Personal Data for a
                  longer period whenever the User has given consent to such
                  processing, as long as such consent is not withdrawn.
                  Furthermore, the Owner may be obliged to retain Personal Data
                  for a longer period whenever required to do so for the
                  performance of a legal obligation or upon the order of an
                  authority. Once the retention period expires, Personal Data
                  shall be deleted. Therefore, the right to access, the right to
                  erasure, the right to rectification and the right to data
                  portability cannot be enforced after the expiration of the
                  retention period.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">The purposes of processing</h4>
                <div class="p">
                  The Data concerning the User is collected to allow the Owner
                  to provide its Services, as well as for the following
                  purposes: Managing support and contact requests, Contacting
                  the User, Registration and authentication, Traffic
                  optimization and distribution, Displaying content from
                  external platforms, Analytics and Managing contacts and
                  sending messages. Users can find further detailed information
                  about such purposes of processing and about the specific
                  Personal Data used for each purpose in the respective sections
                  of this document.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Detailed information on the processing of Personal Data
                </h4>
                <div class="p">
                  Personal Data is collected for the following purposes and
                  using the following services:<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Analytics</h4>
                <div class="p">
                  Personal Data shall be processed and stored for as long as
                  required by the purpose they have been collected for.
                  Therefore: Personal Data collected for purposes related to the
                  performance of a contract between the Owner and the User shall
                  be retained until such contract has been fully performed.
                  Personal Data collected for the purposes of the Owner’s
                  legitimate interests shall be retained as long as needed to
                  fulfil such purposes. Users may find specific information
                  regarding the legitimate interests pursued by the Owner within
                  the relevant sections of this document or by contacting the
                  Owner. The Owner may be allowed to retain Personal Data for a
                  longer period whenever the User has given consent to such
                  processing, as long as such consent is not withdrawn.
                  Furthermore, the Owner may be obliged to retain Personal Data
                  for a longer period whenever required to do so for the
                  performance of a legal obligation or upon the order of an
                  authority. Once the retention period expires, Personal Data
                  shall be deleted. Therefore, the right to access, the right to
                  erasure, the right to rectification and the right to data
                  portability cannot be enforced after the expiration of the
                  retention period.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Analytics</h4>
                <div class="p">
                  The services contained in this section enable the Owner to
                  monitor and analyze web traffic and can be used to keep track
                  of User behaviour.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Google Analytics (Google Inc.)</h4>
                <div class="p">
                  Google Analytics is a web analysis service provided by Google
                  Inc. (“Google”). Google utilizes the Data collected to track
                  and examine the use of this Application, to prepare reports on
                  its activities and share them with other Google services.
                  Google may use the Data collected to contextualize and
                  personalize the ads of its own advertising network. Personal
                  Data collected: Cookies and Usage Data. Place of processing:
                  US – <a href="https://policies.google.com/privacy?hl=en"
                    >Privacy Policy</a
                  > – <a href="https://tools.google.com/dlpage/gaoptout?hl=en"
                    >Opt Out</a
                  >.<br />
                </div>
              </div>
            </div>
            <div class="f-w-wrapper">
              <h3 class="heading-6">Contacting the User</h3>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Contact form (this Application)</h4>
                <div class="p">
                  By filling in the contact form with their Data, the User
                  authorizes this Application to use these details to reply to
                  requests for information, quotes or any other kind of request
                  as indicated by the form’s header. Personal Data collected:
                  email address, first name and last name.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Mailing list or newsletter (this Application)
                </h4>
                <div class="p">
                  By registering on the mailing list or for the newsletter, the
                  User’s email address will be added to the contact list of
                  those who may receive email messages containing information of
                  commercial or promotional nature concerning this Application.
                  Your email address might also be added to this list as a
                  result of signing up to this Application or after making a
                  purchase. Personal Data collected: email address.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Displaying content from external platforms
                </h4>
                <div class="p">
                  This type of service allows you to view content hosted on
                  external platforms directly from the pages of this Application
                  and interact with them. This type of service might still
                  collect web traffic data for the pages where the service is
                  installed, even when Users do not use it.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Managing contacts and sending messages
                </h4>
                <div class="p">
                  This type of service makes it possible to manage a database of
                  email contacts, phone contacts or any other contact
                  information to communicate with the User. <br /><br />These
                  services may also collect data concerning the date and time
                  when the message was viewed by the User, as well as when the
                  User interacted with it, such as by clicking on links included
                  in the message.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  MailChimp (The Rocket Science Group, LLC.)
                </h4>
                <div class="p">
                  MailChimp is an email address management and message sending
                  service provided by The Rocket Science Group, LLC. Personal
                  Data collected: email address. Place of processing: US – <a
                    href="https://www.intuit.com/privacy/statement/"
                    >Privacy Policy</a
                  >.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Registration and authentication</h4>
                <div class="p">
                  By registering or authenticating, Users allow this Application
                  to identify them and give them access to dedicated services.
                  Depending on what is described below, third parties may
                  provide registration and authentication services. In this
                  case, this Application will be able to access some Data,
                  stored by these third-party services, for registration or
                  identification purposes.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Direct registration (this Application)
                </h4>
                <div class="p">
                  The User registers by filling out the registration form and
                  providing the Personal Data directly to this Application.
                  Personal Data collected: email address, username and various
                  types of Data.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">Traffic optimization and distribution</h4>
                <div class="p">
                  This type of service allows this Application to distribute
                  their content using servers located across different countries
                  and to optimize their performance. Which Personal Data are
                  processed depends on the characteristics and the way these
                  services are implemented. Their function is to filter
                  communications between this Application and the User’s
                  browser. Considering the widespread distribution of this
                  system, it is difficult to determine the locations to which
                  the contents that may contain Personal Information User are
                  transferred.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">CloudFlare (Cloudflare)</h4>
                <div class="p">
                  CloudFlare is a traffic optimization and distribution service
                  provided by CloudFlare Inc. The way CloudFlare is integrated
                  means that it filters all the traffic through this
                  Application, i.e., communication between this Application and
                  the User’s browser, while also allowing analytical data from
                  this Application to be collected. Personal Data collected:
                  Cookies and various types of Data as specified in the privacy
                  policy of the service. Place of processing: US – <a
                    href="https://web.archive.org/web/20230327130210/https://www.cloudflare.com/privacypolicy/"
                    >Privacy Policy</a
                  >.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">The rights of Users</h4>
                <div class="p">
                  Users may exercise certain rights regarding their Data
                  processed by the Owner. In particular, Users have the right to
                  do the following: Withdraw their consent at any time. Users
                  have the right to withdraw consent where they have previously
                  given their consent to the processing of their Personal Data.
                  Object to the processing of their Data. Users have the right
                  to object to the processing of their Data if the processing is
                  carried out on a legal basis other than consent. Further
                  details are provided in the dedicated section below. Access
                  their Data. Users have the right to learn if Data is being
                  processed by the Owner, obtain disclosure regarding certain
                  aspects of the processing and obtain a copy of the Data
                  undergoing processing. Verify and seek rectification. Users
                  have the right to verify the accuracy of their Data and ask
                  for it to be updated or corrected. Restrict the processing of
                  their Data. Users have the right, under certain circumstances,
                  to restrict the processing of their Data. In this case, the
                  Owner will not process their Data for any purpose other than
                  storing it. Have their Personal Data deleted or otherwise
                  removed. Users have the right, under certain circumstances, to
                  obtain the erasure of their Data from the Owner. Receive their
                  Data and have it transferred to another controller. Users have
                  the right to receive their Data in a structured, commonly used
                  and machine-readable format and, if technically feasible, to
                  have it transmitted to another controller without any
                  hindrance. This provision is applicable provided that the Data
                  is processed by automated means and that the processing is
                  based on the User’s consent, on a contract which the User is
                  part of or on pre-contractual obligations thereof. Lodge a
                  complaint. Users have the right to bring a claim before their
                  competent data protection authority.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">
                  Details about the right to object to the processing
                </h4>
                <div class="p">
                  Where Personal Data is processed for a public interest, in the
                  exercise of an official authority vested in the Owner or for
                  the purposes of the legitimate interests pursued by the Owner,
                  Users may object to such processing by providing a ground
                  related to their particular situation to justify the
                  objection. Users must know that, however, should their
                  Personal Data be processed for direct marketing purposes, they
                  can object to that processing at any time without providing
                  any justification. To learn, whether the Owner is processing
                  Personal Data for direct marketing purposes, Users may refer
                  to the relevant sections of this document.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-7">How to exercise these rights</h4>
                <div class="p">
                  Any requests to exercise User rights can be directed to the
                  Owner through the contact details provided in this document.
                  These requests can be exercised free of charge and will be
                  addressed by the Owner as early as possible and always within
                  one month.<br />
                </div>
              </div>
              <div class="f-w-wrapper">
                <h4 class="heading-6">Owner and Data Controller</h4>
                <div class="p large">
                  Revox Private Limited <br />Sri Lanka<br />
                </div>
                <div class="p mx-w-50 m-t-20">
                  217B Stanley Thilakerathne Mawatha, Nugegoda, 10250, Colombo.
                  Sri Lanka.<br />
                </div>
                <a href="contact.html" class="btn-text m-20 w-button"
                  >Contact us</a
                >
                <div class="seperator"></div>
                <div class="p hint-text m-t-15">
                  If you have additional questions or require more information
                  about our Privacy Policy, do not hesitate to contact us
                  through email at legal@revox.io<br />
                </div>
              </div>
            </div>
          </div>
        </section>
        <script
          src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65afaef75b2da61f9662587d"
          type="text/javascript"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
      </main>
      <Footer />
    </div>
  </body>
</html>
