<section class="footer">
  <div class="w-layout-blockcontainer container footer w-container">
    <div class="columns-2 w-row">
      <div class="w-col w-col-2 w-col-small-2">
        <div class="flex-v m-b-45">
          <div class="p title">Discover</div>
          <a href="services.html" class="p link">Services</a>
          <a href="work.html" class="p link">Work</a>
          <a href="#" class="p">Products</a>
          <a href="#" class="p">Blog</a>
        </div>
        <div class="flex-v m-b-45">
          <div class="p title">Products</div>
          <a href="https://pages.revox.io/" class="p link">Pages</a>
          <a href="https://kepler.app/" class="p link">Kepler</a>
          <a href="https://webarch.revox.io/3.0/index.html" class="p link"
            >Webarch</a
          >
          <a href="https://rundownstudios.com/home" class="p link">Spiral</a>
        </div>
      </div>
      <div class="column-3 w-col w-col-3 w-col-small-3">
        <div class="flex-v m-b-45">
          <div class="p title">Outsourcing</div>
          <a href="services.html" class="p link">Web Development</a>
          <a href="services.html" class="p link">Mobile App Development</a>
          <a href="services.html" class="p link">Game Development</a>
          <a href="services.html" class="p link">Artificial Intelligence </a>
        </div>
        <div class="flex-v m-b-45">
          <div class="p title">Design</div>
          <a href="services.html" class="p link">UI/UX </a>
          <a href="services.html" class="p link">Product Design</a>
          <a href="services.html" class="p link">Heuristic Evaluation</a>
          <a href="services.html" class="p link">Identity &amp; Branding</a>
        </div>
        <div class="flex-v m-b-45">
          <div class="p title">Consulting</div>
          <a href="services.html" class="p link">Development</a>
          <a href="services.html" class="p link">Game Development</a>
          <a href="services.html" class="p link">Design UI/UX</a>
          <a href="contact.html" class="p link">Product Consultation</a>
        </div>
      </div>
      <div class="column-4 w-col w-col-2 w-col-small-2">
        <div class="flex-v m-b-45">
          <div class="p title">Connect</div>
          <a href="contact.html" class="p link">Support</a>
          <a href="https://calendly.com/hello-rvx/30min" class="p link"
            >Book a Call</a
          >
          <a href="https://www.facebook.com/revoxltd" class="p link">Facebook</a
          >
          <a href="https://www.instagram.com/revoxhq/?hl=en" class="p link"
            >Instagram</a
          >
        </div>
      </div>
      <div class="column-5 w-col w-col-3 w-col-small-3">
        <div class="flex-v m-b-45">
          <div class="p title">Company</div>
          <a href="about.html" class="p link">About</a>
          <a href="careers.html" class="p link">Careers</a>
          <a href="#" class="p">App Partner Program</a>
          <a href="contact.html" class="p link">Contact Us</a>
          <a href="privacy.html" class="p link">Legal</a>
        </div>
      </div>
      <div class="full-h w-col w-col-2 w-col-small-2">
        <div class="flex-v m-b-45">
          <div class="p title">Marketplaces</div>
          <a href="https://themeforest.net/user/ace" class="p link">Envato</a>
          <a href="https://themes.getbootstrap.com/" class="p link">Bootstrap</a
          >
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="full-h w-col w-col-6">
        <div class="w-layout-hflex footer-legal">
          <a href="#" class="p">🌎 English (En)</a>
          <a href="privacy.html" class="p link">Privacy Policy</a>
          <a href="cookie-policy.html" class="p link">Cookie Policy</a>
        </div>
        <div class="p small m-t-40 hint-text">
          Revox and certain product names used herein are trademarks or
          registered trademarks of Revox Private Limited and/or one of its
          subsidiaries or affiliates in The United States, Sri Lanka and/or
          other countries. See Trademarks for appropriate markings.<br /><br
          />Foxtale Studio is a subsidiary of Revox Private Limited<br /><br
          />Copyright © 2025, Revox Private Limited and/or its subsidiaries or
          affiliates. All Rights Reserved.
        </div>
        <div class="logo-set-footer">
          <img
            src="images/Revox-logo-mono.avif"
            loading="lazy"
            width="107"
            alt=""
          /><img
            src="images/Foxtale-Studio-logo.avif"
            loading="lazy"
            width="108"
            alt=""
          />
        </div>
      </div>
      <div class="flex end gptw w-col w-col-6">
        <img
          src="images/gptw-revox.png"
          loading="lazy"
          width="87"
          alt=""
          class="gptw-img"
        />
      </div>
    </div>
  </div>
</section>
